<section class="bg-gradient-to-br from-[#000000] to-[#434343] text-white h-[calc(100svh-3rem)] grid items-center text-center 
                lg:h-[calc(100vh-3rem)] lg:flex lg:justify-evenly lg:items-center lg:w-full">
    <div>
        <h1 class="text-5xl font-bold">Sorin C.</h1>
        <p class="text-2xl italic text-[#b9b9b9]">&lt;Frontend Developer /&gt;</p>
    </div>
    <img class="mx-auto w-[400px] lg:w-[500px] " src="programming.png" alt="">
</section>