---
import Project from '../components/Project.astro';
---

<section id="Projects" class="py-12 bg-gradient-to-br from-[#000000] to-[#434343] text-white h-svh">
    <h3 class="text-2xl text-center mb-12">Projects</h3>
    <div class="lg:flex">
        <Project title = "El Rincón del Bocata (Astro framework)" 
            link = "https://rincondelbocata.netlify.app/" 
            image = "" />
        <Project title = "El Rincón 2 (React library)" 
            link = "https://elrincon2.netlify.app/" 
            image = "../images/elrincon2.png" />
    </div>
</section>