---
import Skill from '../components/Skill.astro';
import Skillset from '../components/Skillset.astro';
---

<section id="Skills" class="h-svh flex flex-col justify-evenly bg-gradient-to-br from-gray-500 to-gray-100">
    <Skillset title = 'Skills' >
        <Skill name = 'html' />
        <Skill name = 'css' />
        <Skill name = 'javascript' />
    </Skillset>

    <Skillset title = 'Frameworks and Libraries'>
        <Skill name = 'sass' />
        <Skill name = 'tailwind' />
        <Skill name = 'astro' />
        <Skill name = 'react' />
    </Skillset>

    <Skillset title = 'Tools'>
        <Skill name = 'git' />
        <Skill name = 'github' />
    </Skillset>

</section>
