---
import MenuItem from "./MenuItem.astro"
---

<header class="fixed w-full h-12 flex justify-center text-xl items-center top-0 z-10 bg-white/90
lg:text-2xl">
    <nav>
        <ul class="flex gap-8">
            <MenuItem name = 'Home' />
            <MenuItem name = 'Skills' />
            <MenuItem name = 'Projects' />
            <MenuItem name = 'Contact' />
        </ul>
    </nav>
</header>